.quantity__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
input, textarea, select, fieldset {
     margin-bottom: 0;
}
.input__content {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background: #e7e4da;
    border-radius: 50px;
    border: none;
    height: 45px;
}

.input__content:focus, .input__content:hover{
    border: none;
    box-shadow: 0px 0px 21px 0px rgba(190, 190, 173, 0.3);
}
::placeholder{
    color: #6c757d;
}

.button__content{
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.button__content:hover{
    background: #b28966;
}

.payment__container{
    background: var(--accent-color2) !important;
}
