.quantity__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
input, textarea, select, fieldset {
     margin-bottom: 0;
}
.input__content {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background: #e7e4da;
    border-radius: 50px;
    border: none;
    height: 45px;
}

.input__content:focus, .input__content:hover{
    border: none;
    box-shadow: 0px 0px 21px 0px rgba(190, 190, 173, 0.3);
}
::placeholder{
    color: #6c757d;
}

.button__content{
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.button__content:hover{
    background: #b28966;
}

.payment__container{
    background: var(--accent-color2) !important;

    margin-top: 40px;
}

.product__container, .check__product{
    display: flex;
}

.check__product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.bag__container{
    color: #000;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.button__content{
    border-radius: 40px;
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.button__content:hover{
    background: #b28b6c;
}

.button__close{
    background: var(--accent-color2);
    border-radius: 40px;
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--light-color) !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: 20px !important;
    outline: 0;
}

.book__content{
    width: 800px;
}

.name__text{
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
