<section class="h-100 h-custom">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>

                            <th scope="col" class="bag__container">
                                <div class="form-check mb-3 mb-md-0 check__product">
                                <input class="form-check-input" type="checkbox" value="" id="loginCheck" (change)="isAllChecked()" [checked]="checkAll" />
                            </div>
                                    Shopping Bag</th>
                            <th scope="col">Unit price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cartBook of cartBookList; let i=index">
                            <th scope="row">
                                <div class="product__container">
                                    <div class="form-check mb-3 mb-md-0 check__product">
                                        <input class="form-check-input" type="checkbox" value="" (change)="isChecked(i)" [checked]="checkList[i]" />
                                    </div>
                                    <div class="d-flex align-items-center book__content">
                                        <div>
                                            <img [src]="cartBook.bookId.bookImage" [routerLink]="['/book/detail', cartBook.bookId.bookId]" class="img-fluid rounded-3"
                                                 style="width: 120px;" alt="Book">
<!--                                            <div style="cursor: pointer" -->
<!--                                                 class="fade"></div>-->
                                        </div>


                                        <div class="flex-column ms-4 name__text" >
                                            <p class="mb-2" [routerLink]="['/book/detail', cartBook.bookId.bookId]">{{cartBook.bookId.bookName}}</p>
                                            <p class="mb-0">{{cartBook.bookId.bookAuthorId.authorName}}</p>
                                        </div>
                                    </div>
                                </div>

                            </th>
                            <td class="align-middle">
                                <p class="mb-0" style="font-weight: 500;" *ngIf="cartBook.bookId.bookPromotionId.promotionId <= 1">{{cartBook.bookId.bookPrice}} đ</p>
                                <p class="mb-0" style="font-weight: 500;" *ngIf="cartBook.bookId.bookPromotionId.promotionId > 1">{{cartBook.bookId.bookPrice - cartBook.bookId.bookPrice * cartBook.bookId.bookPromotionId.promotion_percent / 100}} đ</p>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-row">
                                    <button class="btn btn-link px-2"
                                            *ngIf="cartBook.cartId.cartQuantity != 1"
                                            (click)="subBook(cartBook)">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-link px-2"
                                            *ngIf="cartBook.cartId.cartQuantity == 1"
                                            (click)="showInfoCartDelete(cartBook)" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <div class="quantity__content">
                                        <input (change)="getQuantity($event.target, cartBook)"
                                               [value]="cartBook.cartId.cartQuantity" min="0" name="quantity" value="2" type="number"
                                               class="form-control form-control-sm" style="width: 50px;" />
                                    </div>

                                    <button class="btn btn-link px-2"
                                            [disabled]="cartBook.cartId.cartQuantity >= cartBook.bookId.bookQuantity"
                                            (click)="addBook(cartBook)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle">
                                <p class="mb-0" style="font-weight: 500;">{{cartBook.cartId.cartTotalMoney}} đ</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="card shadow-2-strong mb-5 mb-lg-0 payment__container" style="border-radius: 16px;">
                    <div class="card-body p-4">

                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                                <div>
                                    <div class="d-flex flex-row pb-3">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v"
                                                   value="" aria-label="..." checked />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0">
                                                <i class="fab fa-cc-mastercard fa-2x text-dark pe-2"></i>Credit
                                                Card
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row pb-3">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v"
                                                   value="" aria-label="..." />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0">
                                                <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2"></i>Debit Card
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v"
                                                   value="" aria-label="..." />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0">
                                                <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2"></i>PayPal
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-6">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                            <div class="form-outline mb-4 mb-xl-5">
                                                <label class="form-label" >Name on card</label>
                                                <input type="text" id="name" formControlName="name" class="input__content" placeholder="Name on card"/>
                                            </div>

                                        <div class="form-outline mb-4 mb-xl-5">
                                            <label class="form-label" >Expiration</label>
                                            <input type="text" id="Expiration" formControlName="Expiration" class="input__content" placeholder="MM/YY"/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="form-outline mb-4 mb-xl-5">
                                            <label class="form-label" >Card Number</label>
                                            <input type="text" id="card_number" formControlName="card_number" class="input__content" placeholder="Card Number"/>
                                        </div>

                                        <div class="form-outline mb-4 mb-xl-5">
                                            <label class="form-label" >CVV</label>
                                            <input type="text" id="cvv" formControlName="cvv" class="input__content" maxlength="3" placeholder="&#9679;&#9679;&#9679;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-3">
                                <div class="d-flex justify-content-between" style="font-weight: 500;" >
                                    <p class="mb-2">Subtotal</p>
                                    <p class="mb-2">{{totalMoneyBeforePromotion}} đ</p>
                                </div>

                                <div class="d-flex justify-content-between" style="font-weight: 500;" >
                                    <p class="mb-0">Save</p>
                                    <p class="mb-0">{{totalMoneyBeforePromotion - totalMoney}} đ</p>
                                </div>

                                <hr class="my-4">

                                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                    <p class="mb-2">Total (tax included)</p>
                                    <p class="mb-2">{{totalMoney}} đ</p>
                                </div>

                                <button type="button" class="button button__content">
                                    <div class="d-flex justify-content-between">
                                        <span>Checkout : </span>
                                        <span>&nbsp;&nbsp;{{totalMoney}} đ</span>
                                    </div>
                                </button>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove book in cart</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to remove {{cartDelete.bookId.bookName}} from your shopping cart?</div>
            <div class="modal-footer">
                <button type="button" class="button button__close btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="button button__content btn-primary" data-mdb-dismiss="modal" (click)="deleteCart(cartDelete.cartId.cartId)">Remove</button>
            </div>
        </div>
    </div>
</div>
