<section id="billboard">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>

				<div class="main-slider pattern-overlay">
					<div class="slider-item" *ngFor="let book of book">
						<div class="banner-content">
							<h2 class="banner-title">{{book.bookName}}</h2>
							<p>{{book.bookContent}}</p>
							<div class="btn-wrap">
								<a href="#" class=" btn btn-outline-accent btn-accent-arrow" [routerLink]="['/detail/', book.bookId]">Detail<i class="icon icon-ns-arrow-right"></i></a>
							</div>
						</div><!--banner-content-->
						<img src="{{book.bookImage}}" alt="banner" class="banner-image">
					</div><!--slider-item-->
				</div><!--slider-->
				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>

			</div>
		</div>
	</div>

</section>
