<section class="bg-sand padding-large">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <a class="product-image"><img src="{{book.bookImage}}"></a>
            </div>

            <div class="col-md-8 pl-5">
                <div class="product-detail">
                    <h1>{{book.bookName}}</h1>
                    <p>{{book.bookAuthorId.authorName}}</p>
                    <span class="price colored ">New price: {{book.bookPrice-(book.bookPrice*book.bookPromotionId.promotion_percent*0.01)}}đ</span>
                    <span class="price colored old__price">Old price: {{book.bookPrice}}đ</span>
                    <p>
                        {{book.bookContent}}
                    </p>
                    <button type="submit" name="add-to-cart" value="27545" class="button button__content">Add to cart</button>

                </div>
            </div>

        </div>
    </div>
</section>
