<div id="header-wrap">

    <div class="top-content">
        <div class="container top-content__container">
            <div class="row">
                <div class="col-md-12">
                    <div class="right-element">



                        <div class="action-menu ">
                            <div class="search-bar">
                                <a  class="search-button search-toggle" data-selector="#header-wrap" (click)="searchBook(search)">
                                    <i class="icon icon-search"></i>
                                </a>
                                <div role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="Search" type="search" [(ngModel)]="search">
                                </div>
                            </div>
                            <a routerLink="/cart" class="cart for-buy"><i class="icon icon-clipboard"></i><span id="total-quantity-cart-id" class="cart__quantity">Cart:({{totalQuantityCart}})</span></a>

                            <div *ngIf="isLoggedIn">
<!--                                <a href="#" class="user-account for-buy"><span>{{userName}}</span></a>-->
                                <div class="dropdown">
                                    <button
                                            class="button button__content dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-mdb-toggle="dropdown"
                                            aria-expanded="false"
                                    >
                                        <i class="icon icon-user"></i>&nbsp;
                                        {{userName}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Account Info</a></li>
                                        <li><a class="dropdown-item" href="#">Change Password</a></li>
                                        <li><a class="dropdown-item" (click)="logout()">Sign Out</a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="login__container" *ngIf="!isLoggedIn">
                                <label class="button__container">
                                    <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button"
                                        class="button__content button__login">Login</button>
                                    <button data-bs-toggle="modal" data-bs-target="#registerModal" type="button"
                                        class="button__content button__register">Register</button>
                                </label>
                            </div>
                            <div class="login__container" *ngIf="isLoggedIn">
<!--                                <label class="button__container">-->
<!--                                    <button data-bs-toggle="modal" data-bs-target="#loginModal" type="button"-->
<!--                                            class="button__content button__login">Login</button>-->
<!--                                    <button data-bs-toggle="modal" data-bs-target="#registerModal" type="button"-->
<!--                                            class="button__content button__register">Register</button>-->
<!--                                </label>-->
                            </div>
                        </div>
                    </div>
                    <!--top-right-->
                </div>

            </div>
        </div>
    </div>
    <!--top-content-->

    <header id="header">
        <div class="container">
            <div class="row navbar__container">

                <div class="col-md-2 logo__content">
                    <div class="main-logo">
                        <a href="index.html"><img src="/assets/images/main-logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-10 ">
                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li class="menu-item"><a routerLink="" class="nav-link" data-effect="Home">Home
                                </a></li>
                                <li class="menu-item has-sub">
                                    <a class="nav-link" data-effect="Pages">Category book</a>
                                    <ul>
                                        <li class="active"><a [routerLink]="['/category/', category.categoryId]" *ngFor="let category of categoryList">{{category.categoryName}}</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="#about" class="nav-link" data-effect="About">Best selling
                                        book
                                    </a></li>
                                <li class="menu-item"><a routerLink="/promotion" class="nav-link"
                                        data-effect="Shop">Promotion</a></li>
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>

                        </div>
                    </nav>

                </div>

            </div>
        </div>
    </header>

</div>
<!--header-wrap-->

<app-login></app-login>
<app-register></app-register>
