<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash; Pills navs &ndash;&gt;-->
<!--                <div class="nav__pill">-->
<!--                    <h1>Register</h1>-->
<!--                </div>-->
<!--                &lt;!&ndash; Pills navs &ndash;&gt;-->

<!--                &lt;!&ndash; Pills content &ndash;&gt;-->
<!--                <div class="tab-content">-->
<!--                    &lt;!&ndash;        Login&ndash;&gt;-->
<!--                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">-->
<!--                        <form>-->
<!--                            <div class="text-center">-->
<!--                                <p>Sign in with:</p>-->
<!--                                <button type="button" class="button button__oauth mx-1">-->
<!--                                    <i class="fab fa-facebook-f"></i>-->
<!--                                </button>-->

<!--                                <button type="button" class="button button__oauth mx-1">-->
<!--                                    <i class="fab fa-google"></i>-->
<!--                                </button>-->

<!--                                <button type="button" class="button button__oauth mx-1">-->
<!--                                    <i class="fab fa-twitter"></i>-->
<!--                                </button>-->

<!--                                <button type="button" class="button button__oauth mx-1">-->
<!--                                    <i class="fab fa-github"></i>-->
<!--                                </button>-->
<!--                            </div>-->

<!--                            <p class="text-center">or:</p>-->

<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    &lt;!&ndash; Username input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="text" id="registerUsername" class="input__content"-->
<!--                                               placeholder="Username" />-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Password input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="password" id="registerPassword" class="input__content"-->
<!--                                               placeholder="Password" />-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Repeat Password input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="password" id="registerRepeatPassword" class="input__content"-->
<!--                                               placeholder="Repeat password" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    &lt;!&ndash; Name input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="text" id="registerName" class="input__content"-->
<!--                                               placeholder="Fullname" />-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; phone input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="email" id="registerPhone" class="input__content"-->
<!--                                               placeholder="Phone" />-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Email input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="email" id="registerEmail" class="input__content"-->
<!--                                               placeholder="Email" />-->
<!--                                    </div>-->

<!--                                    &lt;!&ndash; Address input &ndash;&gt;-->
<!--                                    <div class="form-outline mb-4">-->
<!--                                        <input type="text" id="registerAddress" class="input__content"-->
<!--                                               placeholder="Address" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                            <div class="form-check d-flex justify-content-center">-->
<!--                                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked-->
<!--                                       aria-describedby="registerCheckHelpText" />-->
<!--                                <label class="form-check-label" for="registerCheck">-->
<!--                                    I have read and agree to the terms-->
<!--                                </label>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                            <button type="submit" class="button button__content">Register</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;        Login&ndash;&gt;-->

<!--                </div>-->
<!--                &lt;!&ndash; Pills content &ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
